<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
	  <!--<add name="Partner" connectionString="Data Source=diplompartner.ddns.net,49172;Initial Catalog=Partner; user id=PRT; password=Prt123;" providerName="System.Data.SqlClient"/>
	<add name="Program_Partner" connectionString="Data Source=diplompartner.ddns.net,49172;Initial Catalog=Program_Partner; user id=PRT; password=Prt123;" providerName="System.Data.SqlClient"/>-->
	<add name="Partner" connectionString="Data Source=LAPTOP-V542C0QF\SQLEXPRESS;Initial Catalog=Partner;Integrated Security=True" providerName="System.Data.SqlClient"/>
	<add name="Program_Partner" connectionString="Data Source=LAPTOP-V542C0QF\SQLEXPRESS;Initial Catalog=Program_Partner;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>